header, section, aside, address, footer {
	background-color: #;
}

section section,  aside section, section address, section div section{
	background-color: gry;
}

.icon img {	
    width: 35%; /* you can use % */
    height: auto;
}

.icon {
	padding: 20px 0;
}

.wrapper {
	width: 100%;
	margin: 0 auto;
}

#info {
	width: 75%;
	margin: 0 auto;
}

#portfolio {
	width: 90%;
	margin: 0 auto;
}

#portfolio figcaption{
	color: black;
	border-style: solid;
	border-width: 1px;
	padding-left: 10px;
}

#portfolio figcaption {
	text-align: left;
}

#portfolio img {
	width: 100%;
	margin: 0 auto;
	-webkit-filter: brightness(60%);
  	filter: brightness(60%);

	-webkit-transition: all 2s ease;
    -moz-transition: all 2s ease;
    -o-transition: all 2s ease;
    -ms-transition: all 2s ease;
    	transition: all 0.5s ease; 
}

#portfolio img:hover {
	cursor: pointer;
	-webkit-filter: brightness(100%);
  	filter: brightness(100%);
	/*
	-webkit-filter: blur(3px);*/
}

#about {
	width: 80%;
	margin: 0 auto;
}

#contact {
	width: 80%;
	margin: 0 auto;
}