body{
	font-family: 'Source Sans Pro', sans-serif;
	background-color: #f5f5f5;
}

header {
	height: 105px;
	background-color: #f0f0f0;
}

header > section {
	max-width: 1300px;
	width: 100%;
	height: 100%;
	margin: 0 auto;
}

p {
	line-height: 1.5em;
}

/* background */

.bg-header h1 {
	font-family: 'Varela Round', sans-serif;
	opacity: 1;
	margin-top: 0px;
	text-align: center;
	color: #f4f4f4;
	font-size: 2.5em;
	padding-top: 105px;
	text-shadow: 0px 0px 15px rgba(217, 228, 133, 0.9);
	font-weight: 400;
}

.bg, .bg-header {
  height: 300px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.bg-header {
  height: 400px;
  background-image: url(../img/version_05-10.jpg);
  margin: 0 auto;
}

.bg1 {
  background-image: url(../img/version_05-11.jpg);
}

.bg2 {
  background-image: url(../img/version_05-11.jpg);
}

.bg3 {
  background-image: url(../img/version_05-11.jpg);
}

/* logo */

.logo {
	float: left;
	margin: 0 0 0 3%;
} 

#logo-img-header {
	height: 100px;	
}

#logo-img-footer {
	height: 80px;	
}

#logo-name {
  float: left;
  margin: 27.5px 3%;
  color: #54544a;
  text-transform: uppercase;
  font-size: 2em;
  margin-bottom: 0px;
}

/* navbar */

.navbar {
	float: right;
	clear: both;
	width: 100%;
	margin: 0;
}

.navbar ul {
	max-height: 0em;
	background-color: #111;
	opacity: 0.85;
	list-style: none;	
	overflow: hidden; /* hide menu items (olverflowed) */
	margin: 0;
	transition: max-height 0.4s;
}

.navbar ul li {
	float: none;
	padding: 10px 15px;
}

.navbar a {
	color: #ccc;
	display: block;
	padding: 12px;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
}

.navbar a:hover {
	color: #54544a;
}

#menuToggler {
	display: block;	
	float: right;
	background: url(../img/menu55.png) no-repeat center;
	cursor: pointer;
	width: 40px;
	height: 40px;
	margin: 30px 3% 30px 0;
}

ul.showing {
	max-height: 20em;	
}

.section-header {
  text-align: center;
  color: #54544a;
  font-size: 2em;
  margin: 0 0 40px 0;
}

/* footer */

footer {
	border-top: 1px solid #e6e6e6;
	background-color: #f0f0f0;
}

#logo-footer {
	width: 50%;
	margin: 0 auto;
}

#logo-footer #logo-img-footer {
	display: block;
	margin: 0 auto;
}

#copyright {
	width: 50%;
	margin: 0 auto;
}

#copyright p {
	text-align: center;
	margin: 0;
	font-size: 0.8em;
}

.about img {
    width: 60px; /* you can use % */
    height: auto;
}

.about figure {
	text-align: center;
}

.about {
	text-align: center;
}

/* lägg flytta margin 0 auto till en gemensam */
.wrapper {
	width: 100%;
	margin: 0 auto;
	padding: 40px 0 0 0;
}

#about {
	width: 75%;
	margin: 0 auto;
}

#portfolio {
	width: 90%;
	margin: 0 auto;
}


.hov-gal {
    position:relative;
    text-align: center;
}

#portfolio img {
    width: 100%;
    height: 0 auto;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
}

.item {  
    background-color: rgba(0,0,0,0.6);  
    position: absolute;  
    color: #fff;  
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    padding-top: 10%;
    margin-bottom: 4px;
    font-size:1em;
    opacity: 0;
    border-radius: 5px;
    -webkit-transition: all 300ms ease-out;  
    -moz-transition: all 300ms ease-out;  
    -o-transition: all 300ms ease-out;  
    -ms-transition: all 300ms ease-out;  
    transition: all 300ms ease-out;
}  

.hov-gal:hover .item {  
    opacity: 1;
    cursor: pointer;
}

#selfie {
	width: 83%;
	margin: 0 auto;
    text-align: center;
}

#selfie img {
	width: 50%;
	height: 0 auto;
	border-radius: 50%;
	-webkit-filter: grayscale(1);
	-moz-filter: grayscale(1);
	-o-: grayscale(1);	
	-ms: grayscale(1);
  	filter: grayscale(1);
}

#selfie p {
  margin-top: 0; 
}

#selfie a {
	color: #99c731;
	font-size: 1em;
	text-decoration: none;
}

#selfie a:hover {
	color: #54544a;
}

#contact {
	width: 70%;
	margin: 0 auto;
}
#contact a {
	color: #99c731;
	text-decoration: none;
}

#contact a:hover {
	color: #54544a;
}

.nw-icons {
	display: inline;
	padding: -40;
}
#nw-icons img{
	display: inline;
	height: 50px;
	width: 50px;
	color: #99c731;
	margin-right: 10px;
}

.map{
    overflow:hidden;
    position:relative;
    height: 320px;
}
.map iframe{
    left:0;
    top:0;
    height: 100%;
    max-height: 320px;
    width:100%;
    position:absolute;
}


@media only screen and (min-width: 400px) {
  .item {
    padding-top: 12%;
    font-size:1.2em;
  } 
}

@media only screen and (min-width: 730px) {
 	
	/* navbar */

	.navbar {
		margin: 32.5px 3% 0px 0;
		width: auto;
		clear: none;
	}

	.navbar ul {
		background-color: transparent;
		opacity: 1;
		max-height: none;
		padding-left:0;
	}
	
	.navbar ul li {
		float:left;
	}
	
	.navbar a {
		display: inline;
		color: #54544a;	
		padding: 0;
		text-align: left;
	}
	
	.navbar a:hover {
		color: #1e1e1b;
	}
	
	#menuToggler {
		display: none;	
	}	

	/* background */
	
	.bg-header {
		height: 500px;
	}
	
	.bg-header h1 {
		font-size: 4em;
		padding-top: 150px;
	}
	
	.bg {
	  height: 300px;
	}

	.item {
		 padding-top: 15%;
    	font-size:1em;
	}

	#selfie a {
		font-size: 0.8em;
	}

	.wrapper {
		padding: 50px 0 30px 0;
	}
}

@media only screen and (min-width: 900px) {

  .item {
    padding-top: 15%;
    font-size:1.5em;
  } 

  #selfie a {
	font-size: 1em;
  }
}